.videoMain{
  position: relative;
  .controls{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgba(255,255,255,.3);
    .ppBtn{
      float: left;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 20px;
      cursor: pointer;
    }
  }
}