<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta lang="zh">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="keyword" content="">
  <script src="https://g.alicdn.com/de/prismplayer/2.8.2/aliplayer-min.js" charset="utf-8"></script>
  <title>Rtmp-Test</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>
